In [1]:
import pandas as pd

In [3]:
provider_zip = pd.read_csv('../data/provider_zip_pop.csv')

In [4]:
provider_zip

,rendering_zip,service_year,rendering_npi,state_x,total_pop,provider_per_1000,state_y,median_income
0,37012,2019.0,2,47,2337.0,0.855798,47,39722.0
1,37012,2020.0,2,47,2337.0,0.855798,47,39722.0
2,37012,2021.0,2,47,2337.0,0.855798,47,39722.0
3,37013,2019.0,87,47,97819.0,0.889398,47,54811.0
4,37013,2020.0,86,47,97819.0,0.879175,47,54811.0
...,...,...,...,...,...,...,...,...
1241,38583,2020.0,54,47,24089.0,2.241687,47,41363.0
1242,38583,2021.0,55,47,24089.0,2.283200,47,41363.0
1243,38585,2019.0,5,47,3970.0,1.259446,47,34245.0
1244,38585,2020.0,5,47,3970.0,1.259446,47,34245.0
1245,38585,2021.0,5,47,3970.0,1.259446,47,34245.0

In [5]:
vehicles = pd.read_csv('../data/raw_census/B08201.csv')

In [6]:
vehicles

,NAME,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B08201_007E,B08201_008E,B08201_009E,...,B08201_024E,B08201_025E,B08201_026E,B08201_027E,B08201_028E,B08201_029E,B08201_030E,GEO_ID,state,zip code tabulation area
0,ZCTA5 38359,167.0,7.0,56.0,62.0,17.0,25.0,58.0,0.0,37.0,...,11.0,11.0,0.0,0.0,2.0,0.0,9.0,8600000US38359,47,38359
1,ZCTA5 37330,2930.0,112.0,765.0,1166.0,649.0,238.0,585.0,33.0,445.0,...,114.0,522.0,17.0,22.0,251.0,186.0,46.0,8600000US37330,47,37330
2,ZCTA5 37379,11151.0,407.0,3018.0,4115.0,2462.0,1149.0,3146.0,326.0,1984.0,...,412.0,1779.0,10.0,120.0,703.0,520.0,426.0,8600000US37379,47,37379
3,ZCTA5 37415,10804.0,649.0,4481.0,3795.0,1430.0,449.0,4546.0,569.0,3385.0,...,122.0,1258.0,8.0,138.0,448.0,480.0,184.0,8600000US37415,47,37415
4,ZCTA5 38030,215.0,18.0,62.0,60.0,56.0,19.0,52.0,18.0,15.0,...,0.0,33.0,0.0,0.0,0.0,33.0,0.0,8600000US38030,47,38030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,ZCTA5 37185,3351.0,126.0,1300.0,1261.0,489.0,175.0,1341.0,92.0,968.0,...,24.0,441.0,0.0,84.0,182.0,94.0,81.0,8600000US37185,47,37185
624,ZCTA5 37191,1404.0,14.0,261.0,688.0,250.0,191.0,248.0,0.0,167.0,...,42.0,289.0,0.0,0.0,137.0,57.0,95.0,8600000US37191,47,37191
625,ZCTA5 37209,15576.0,1044.0,6152.0,5994.0,1920.0,466.0,4990.0,524.0,3777.0,...,101.0,2060.0,49.0,497.0,742.0,548.0,224.0,8600000US37209,47,37209
626,ZCTA5 37217,12857.0,754.0,5701.0,4511.0,1488.0,403.0,4384.0,465.0,3420.0,...,73.0,2429.0,31.0,514.0,1184.0,431.0,269.0,8600000US37217,47,37217
627,ZCTA5 37219,811.0,45.0,524.0,242.0,0.0,0.0,533.0,45.0,450.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8600000US37219,47,37219

In [14]:
no_vehicles = vehicles[['zip code tabulation area',
                    'state',
                    'B08201_001E',
                    'B08201_002E',
                    'B08201_007E',
                    'B08201_008E']].rename(columns = {'zip code tabulation area': 'zip',
                                                     'B08201_001E': 'total_hh',
                                                     'B08201_002E': 'total_no_veh',
                                                     'B08201_007E': 'total_1_person_hh',
                                                     'B08201_008E': '1_person_hh_no_veh'})

In [16]:
no_vehicles['total_no_car_ratio'] = no_vehicles['total_no_veh'] / no_vehicles['total_hh']

no_vehicles['1_per_no_car_ratio'] = no_vehicles['1_person_hh_no_veh'] / no_vehicles['total_1_person_hh']

In [17]:
no_vehicles

,zip,state,total_hh,total_no_veh,total_1_person_hh,1_person_hh_no_veh,total_no_car_ratio,1_per_no_car_ratio
0,38359,47,167.0,7.0,58.0,0.0,0.041916,0.000000
1,37330,47,2930.0,112.0,585.0,33.0,0.038225,0.056410
2,37379,47,11151.0,407.0,3146.0,326.0,0.036499,0.103624
3,37415,47,10804.0,649.0,4546.0,569.0,0.060070,0.125165
4,38030,47,215.0,18.0,52.0,18.0,0.083721,0.346154
...,...,...,...,...,...,...,...,...
623,37185,47,3351.0,126.0,1341.0,92.0,0.037601,0.068606
624,37191,47,1404.0,14.0,248.0,0.0,0.009972,0.000000
625,37209,47,15576.0,1044.0,4990.0,524.0,0.067026,0.105010
626,37217,47,12857.0,754.0,4384.0,465.0,0.058645,0.106068
627,37219,47,811.0,45.0,533.0,45.0,0.055487,0.084428

In [20]:
no_vehicles[no_vehicles['total_no_car_ratio'] == no_vehicles['total_no_car_ratio'].max()]

,zip,state,total_hh,total_no_veh,total_1_person_hh,1_person_hh_no_veh,total_no_car_ratio,1_per_no_car_ratio
449,37402,47,2182.0,1224.0,1486.0,870.0,0.560953,0.585464

In [28]:
no_vehicles[no_vehicles['total_1_person_hh'] > 100].max()

zip                   38588.000000
state                    47.000000
total_hh              35376.000000
total_no_veh           2473.000000
total_1_person_hh      9453.000000
1_person_hh_no_veh     2009.000000
total_no_car_ratio        0.560953
1_per_no_car_ratio        0.629630
dtype: float64

In [29]:
provider_zip = provider_zip.merge(no_vehicles,
                                how = 'left',
                                left_on = 'rendering_zip',
                                right_on = 'zip').drop('zip', axis = 1)

In [30]:
provider_zip

,rendering_zip,service_year,rendering_npi,state_x,total_pop,provider_per_1000,state_y,median_income,state,total_hh,total_no_veh,total_1_person_hh,1_person_hh_no_veh,total_no_car_ratio,1_per_no_car_ratio
0,37012,2019.0,2,47,2337.0,0.855798,47,39722.0,47,988.0,58.0,307.0,21.0,0.058704,0.068404
1,37012,2020.0,2,47,2337.0,0.855798,47,39722.0,47,988.0,58.0,307.0,21.0,0.058704,0.068404
2,37012,2021.0,2,47,2337.0,0.855798,47,39722.0,47,988.0,58.0,307.0,21.0,0.058704,0.068404
3,37013,2019.0,87,47,97819.0,0.889398,47,54811.0,47,35376.0,1140.0,9453.0,405.0,0.032225,0.042844
4,37013,2020.0,86,47,97819.0,0.879175,47,54811.0,47,35376.0,1140.0,9453.0,405.0,0.032225,0.042844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,38583,2020.0,54,47,24089.0,2.241687,47,41363.0,47,8947.0,468.0,2208.0,372.0,0.052308,0.168478
1242,38583,2021.0,55,47,24089.0,2.283200,47,41363.0,47,8947.0,468.0,2208.0,372.0,0.052308,0.168478
1243,38585,2019.0,5,47,3970.0,1.259446,47,34245.0,47,1494.0,115.0,411.0,67.0,0.076975,0.163017
1244,38585,2020.0,5,47,3970.0,1.259446,47,34245.0,47,1494.0,115.0,411.0,67.0,0.076975,0.163017
1245,38585,2021.0,5,47,3970.0,1.259446,47,34245.0,47,1494.0,115.0,411.0,67.0,0.076975,0.163017

In [31]:
provider_zip.to_csv('../data/provider_zip_pop_cars.csv', index = False)